{% extends 'Navbar/ProjectNavbar.html' %}
{% load static %}
{% block body %}
    <div class="container">
        <h2>Login Page</h2>
        <form method="post" action="{% url 'UserLoginLogic' %}">
            {% csrf_token %}
            <div class="input-name">
                <label for="username"><i class="fa fa-user-o"></i></label>
                <input type="text" id="username" name="username" placeholder="Username" class="name" required>
            </div>

            <div class="input-name">
                <label for="password"><i class="fa fa-lock" aria-hidden="true"></i></label>
                <input type="password" id="password" name="password" placeholder="Password" class="name" required>
            </div>

            <div class="input-name">
                <input type="submit" class="button" value="Login">

            </div>
        </form>
    </div>
{% endblock %}
